{{#if success_msg}}
    <div class="msg msg-success">
        <div class="msg-content">
            <div onclick="removeMsg()" class="close-msg"><i class="bi bi-x"></i></div>
            <b>{{success_msg}}</b>
        </div>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="msg msg-error">
        <div class="msg-content">
            <div onclick="removeMsg()" class="close-msg"><i class="bi bi-x"></i></div>
            <b>{{error_msg}}</b>
        </div>
    </div>
{{/if}}

<script src="/msg/msg.js"></script>