<nav class="navbar navbar-expand-lg" style="background-color: #C4170C;">  <div class="container-fluid">
    <a class="navbar-brand" href="#">HUBNews</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-content collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
      </ul>
      <div class="navbar-buttons">
      {{#if user}}
        <a href="/logout" class="btn btn-login">Sair</a>
      {{else}}
        <a href="/login" class="btn btn-login">Login</a>
        <a href="/registro" class="btn btn-register">Cadastro</a>

      {{/if}}
      </div>
    </div>

  </div>
</nav>