<div id="errorMessage" class=" mt-3 m-3  alert-danger" style="display: none;"></div>
<div class="container mt-5 border border-2 border-sm-0 " id="border-form" >
    <h1  class=" m-3 mt-4 text-analytics bi bi-newspaper"><strong>  Criar Analytic</strong>
    <div class="tooltip-container custom-icon">
        <small data-tooltip=" Você só pode criar 3 Analytics. Após a criação de um Analytic você não pode mais editá-lo." class="bi bi-exclamation-circle"></small>
    </div>
    </h1>
    <form class="m-3 needs-validation" novalidate id="analyticForm" method="post" action="/analytic/add/nova" onsubmit="return validateForm()">
        <div class="row flex-md-row flex-column">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="mt-4 text-analytics text-label" for="name">Nome *</label>
                    <input required class="mt-1 form-control" type="text" id="name" name="name" placeholder="Nome do analytic. Ex: Noticias de esporte">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="type" class="mb-1 mt-4 text-analytics text-label">Tipo *</label>
                    <select class="select form-control text-option" id="type" name="type" required onchange="toggleFields()">
                        <option class="mt-2 mb-2 text-analytics text-option" value="by-category">Categoria</option>
                        <option class="mt-2 text-analytics text-option" value="by-keywords">Palavras Chave</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="keywordFields" style="display: none;">
            <!-- Container for dynamically added keyword groups -->
            <div id="groupSession">
                <div class="form-control mt-3">
            <label class="mt-3 text-analytics text-label" for="listName0">Nome do Grupo *</label>
            <input type="text" class="form-control" id="listName" name="listName" placeholder="Ex: Nome da lista de palavras chave. Ex: lista sobre o Flamengo">

            <div id="dynamicKeywordGroups">
                <!-- Initial keyword group input field -->
                <div class="form-group">
                    <label class="mt-3 text-analytics text-label" for="keywords">Palavras chave *</label><br>
                    <small class="mb-5 text-analytics">Você só pode adicionar 3 grupos de palavras chave</small>
                    <input type="text" class="form-control  mb-3 " name="keywords" placeholder="Coloque as palavras separadas por vírgula. Ex: futebol, flamengo, jogos, brasileirão">
                </div>
            </div>
                </div>
            </div>
            <!-- Button to add new keyword group -->
            <button type="button" class="  btn btn-warning mt-4" id="addKeywordGroupBtn" onclick="addKeywordGroup()">Adicionar Grupo</button>
        </div>

        <div id="categoryField" class="form-group">
            <label class="mt-3 text-analytics text-label" for="category">Categoria * </label>
            <select id="category" class="form-control" name="category">
            {{#each categorys}}

                <option value="{{_id}}">{{name}}</option>

            {{else}}
                 <option value="0">Nenhuma Categoria registrada</option>
            {{/each}}
        </select>
        </div>
        <button type="submit" class="mb-3 btn btn-danger btn-submit-analitic mt-3">Criar</button>
    </form>
</div>
