<div id="bg-analytic">
    <h1 class="text-analytics mt-2">Analytics</h1>
    <div class="m-4">
        <div id="cards-container">
            <div id="addCardBtn" class="card d-flex justify-content-center align-items-center" onclick="addCard()">
                <button class="button-add"><h2 id="cardsCounter" class="text-analytics text-light "><strong>+</strong></h2></button>
            </div>
        </div>
    </div>
</div>





    
