.custom2-container-fluid {
    padding: 0;
}

.background-image-container {
    text-align: right;
    margin-top: -430px;
}

.background-image-container img {

    max-width: 80%;
    height:650px;
    width: auto;
}

.custom2-content-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 20px; 
}

.custom2-content-container h1 {
    margin-top: 150px;
    margin-left: 100px;
    white-space: nowrap;
    background: linear-gradient(180deg, #C4170C 37.62%, #FCBD33 92.76%, #FCBD33 92.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 80px;
    font-weight: bold;

}

.custom2-content-container h3 {
    color: #C4170C;
    margin-left: 100px;
    font-size: 30px;
}

  
  .custom2-btn-seguidores {
    background: #ffffff;
    color: #C4170C;
    border: 2px solid #C4170C;
    padding: 8px 40px;
    cursor: pointer;
    font-size: 30px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 40px;

  }
  .custom2-btn-seguidores:hover {
    transition: background-color 0.3s; 
    background-color: #ffc229;
  }




@media (max-width: 767px) {
    .background-image-container {
        margin-top: 20px; 
    }
}

@media (max-width: 1024px) {
    .background-image-container {
        margin-top: 20px; 
    }

    .background-image-container {
        display: none;
    }
}
