
.custom2-content-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 20px; 
}

.custom2-content-container h1 {
    margin-top: 150px;
    white-space: nowrap;
    background: linear-gradient(180deg, #C4170C 37.62%, #FCBD33 92.76%, #FCBD33 92.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 80px;
    font-weight: bold;

}

.custom2-content-container h3 {
    color: #C4170C;
    margin-left: 9px;
    font-size: 30px;
}

  
  .custom2-btn-seguidores {
    background: #ffffff;
    color: #C4170C;
    border: 2px solid #C4170C;
    padding: 8px 40px;
    cursor: pointer;
    font-size: 30px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 40px;

  }
  .custom2-btn-seguidores:hover {
    transition: background-color 0.3s; 
    background-color: #C4170C;
    color: #ffffff;
  }

  
  .background-container {
    background-image: url(/img/index3.png);
    background-size: 56% 105%;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    width: 129%;
    height: 88vh;
    z-index: -1;
}
  .custom2-container-fluid {
    position: relative;
   
  }
  .custom2-content-container {
    text-align: center;
  }
  .background-image-container {
    margin-top: 20px; 
  }

  @media (max-width: 1559px) {
.custom2-content-container h1 {
  font-size: 4.5em; 
      margin-left: 50px;
      margin-top: 20px;

}
.background-container {
  background-size: 60% auto; 
}
  .custom2-content-container h3 {
  font-size: 2em; 
      margin-left: 50px;

}

.custom2-content-container .custom2-btn-seguidores {
  font-size: 1.0em; 
  margin-left: 47px;
}
}
@media (min-width: 569px) and (max-width: 1200px) {
.background-container {
  margin-top: 2px;
  background-size: contain;
  background-repeat: no-repeat;
}
.background-container {
  background-size: 55% auto; 
}
.custom2-content-container h1 {
  font-size: 4.5em; 
      margin-left: 50px;

}
  .custom2-content-container h3 {
  font-size: 2em; 
      margin-left: 50px;

}

.custom2-content-container .custom2-btn-seguidores {
  font-size: 1.0em; 
  margin-left: 50px;
}
}

@media (max-width: 576px) {
.background-container {
  margin-top: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}
.background-container {
  background-size: 55% auto; 
}
}

@media (max-width: 576px) {
.custom2-content-container h1 {
  font-size: 2.5em; 
      margin-left: 50px;

}
  .custom2-content-container h3 {
  font-size: 1em; 
      margin-left: 50px;

}

.custom2-content-container .custom2-btn-seguidores {
  font-size: 0.8em; 
  margin-left: 50px;
}
}







