body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.custom2-container-fluid {
    padding: 0;
}

.background-image-container {
    text-align: right;
    margin-top: -450px;
}

.background-image-container img {
    max-width: 72%;
    height: auto;
    width: auto;
}

.custom2-content-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 20px; 
}

.custom2-content-container h1 {
    margin-top: 150px;
    margin-left: 100px;
    white-space: nowrap;
    background: linear-gradient(180deg, #680459 18.76%, #6007AD 41.72%, #FCBD33 92.76%, #FCBD33 92.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 60px;
}

.custom2-content-container h3 {
    color: #3A1C55;
    margin-left: 100px;
    font-size: 25px;
}

.custom2-btn-seguidores {
    background: linear-gradient(180deg, rgba(96, 7, 173, 0.866577) 40.63%, #680459 70.89%);
    color: white;
    border: none;
    padding: 8px 40px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 40px;
}

@media (max-width: 767px) {
    .background-image-container {
        margin-top: 20px; 
    }
}

@media (max-width: 1024px) {
    .background-image-container {
        margin-top: 20px; 
    }
}
