  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(365.63deg, #FCBD33 16.64%, #C4170C 52.19%);
    z-index: -1;
  }

  .generic-card {
    width: 700px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 70%;
    max-width: 70%;
    margin-top: 50px;
    z-index: -1;
  }


   .a-register{
  color: #890101;

}

.generic-heading {
  font-size: 24px;
  font-weight: bold;
  color: #890101;
}


.generic-label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #890101;
}


.generic-register-link {
  font-size: 14px;
  color: #890101;
  cursor: pointer;
  text-decoration: none;
  
}

  .generic-image {
    flex: 1;
    background: url('/img/news4.png');
    background-size: cover;
    display: block;
  }

  .generic-btn-primary {
  background-color: #890101;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}


.generic-btn-primary:hover {
  background-color: #c4170c;
  color: #fff;
}


  .generic-form {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    .generic-card {
      width: 80%;
      max-width: none;
    }

    .generic-image {
      display: none;
    }
  }

 


.generic-input {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #890101;
  border-radius: 20px;
  font-size: 14px;
  
}


  @media screen and (max-width: 319px), (max-width: 440px) {
    

      .generic-image {
          display: none;
      }

      .generic-input {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #890101;
            border-radius: 20px;
            font-size: 14px;
           
        }
      
    }

