.background-r{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffff;
    z-index: -1;
}

.text-white {
    color: #fff;
}

.custom-login-card {
    width: 900px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    background: #C4170C;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 70%;
    max-width: 70%;
    margin-top: 50px;
    z-index: -1;
    flex-direction: row-reverse;
}

.custom-login-form {
    flex: 30;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-login-heading {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.custom-login-image {
    flex: 35;
    background: url('/img/news4.png');
    background-size: cover;
}

.custom-input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #fefdfe;
    border-radius: 20px;
    font-size: 15px;
    border-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */

}

.custom-label {
    display: block;
    font-size: 15px;
    margin-bottom: 2px;
    color: #ffffff;
}

.custom-btn-primary {
    font-weight: bold;
    padding: 5px 30px;
    background-color: #FCBD33;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 130px;
    margin-left: 130px;
    margin-top: 10px;
}

.custom-btn-primary:hover {
    background-color: #ffffff;
    color: #C4170C; /* Define a cor do texto para branco */
}


.custom-placeholder {
    color: #490088;
}

.custom-forgot-password {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

.custom-register-link {
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}


.a-login{
    color: #FCBD33;
    text-decoration: none;

}

@media screen and  (max-width: 1400px),
(max-width: 1280px),
(max-width: 1024px),
(max-width: 668px),
(max-width: 692px),
(max-width: 640px) {

    .custom-login-card {
        width: 80%;
        height: 80%;
        display: flex;
    }

    .custom-btn-primary {
        text-align: center;
        padding: 10px 10px;
        background-color: #ffffff;
        color: #be0c0c;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 12px;
        align-items: center;
        margin-bottom: 2px;
    }



 

    .custom-input {
        margin-bottom: 3px;
        padding: 5px;
        border-radius: 20px;
        font-size: 12px;
    }

    .custom-label {
        display: block;
        font-size: 12px;
        color: #ffffff;
    }
}

@media screen and (max-width: 419px) {

    .custom-login-card {
        width: 80%;
        height: 80%;
        display: flex;
    }

    .custom-btn-primary {
        text-align: center;
        padding: 2px 10px;
        background-color: #ffffff;
        color: #be0c0c;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 8px;
        margin-bottom: 2px;
        margin-right: 10px;
        margin-top: 2px;
    }

    .custom-login-image {
        display: none;
    }

 

    .custom-input {
        margin-bottom: 3px;
        padding: 5px;
        border-radius: 20px;
        font-size: 8px;
        margin-left: 10px;
    }

    .custom-label {
        display: block;
        font-size: 8px;
        margin-bottom: 2px;
        color: #ffffff;
    }

    @media screen and (max-width: 320px) {


        .custom-login-card {
            width: 70%;
            height: 70%;
            display: flex;
        }

        .custom-btn-primary {
            text-align: center;
            padding: 2px 10px;
            background-color: #ffffff;
            color: #be0c0c;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 8px;
            margin-bottom: 2px;
            margin-right: 10px;
            margin-top: 2px;
        }

        .custom-login-image {
            display: none;
        }

        .custom-login-heading {
            font-size: 12px;
            font-weight: bold;
            color: #ffffff;
        }

        .custom-register-link {
            font-size: 8px;
            color: #ffffff;
            cursor: pointer;
            text-decoration: none;
        }

        .custom-input {
            margin-bottom: 3px;
            padding: 5px;
            border-radius: 20px;
            font-size: 8px;
            margin-left: 50px;
        }

        .custom-label {
            display: flex;
            font-size: 8px;
            margin-bottom: 2px;
            color: #ffffff;
        }

    }
}