<div class="page-main-image">
    <div class="page-main-title">
        
        <h3 >Conheça mais sobre o </h3>
        <br>
        <h1>HUBNews</h1>
    </div> 
</div>

<div class="background2-container">
    <img src="/img/quadros.png" alt="Quadrados" class="quadros-image">

    <div class="quadros-text py-3 mx-3 mt-2">
        <h2 class="mb-3">O que temos para você</h2>
        <p>"Fique sempre à frente do jogo! Mantenha-se informado com notícias atualizadas em tempo real e nunca
            perca um momento importante. Sua fonte confiável para insights instantâneos e conhecimento impactante."
        </p> 
    </div>
</div>

<ul class="carousel-container">
    <li class="content left-content">
        <h4>Notícias por categoria</h4>
        <img src="img/icone-categoria.png" class="img-fluid" alt="Imagem 1">

        <h5>Explore as últimas notícias por categorias que são essenciais para seus interesses!</h5>
        <p>
            Com nossa plataforma, você pode personalizar sua experiência, concentrando-se nas categorias que mais
            importam para você. Elimine
            o ruído informativo e mantenha-se atualizado de maneira direcionada. Não perca tempo procurando; deixe-nos
            fornecer as atualizações que você deseja, quando você deseja. Otimize sua estratégia de marketing com
            informações específicas por categoria, garantindo que sua abordagem seja precisa e relevante. Suas notícias
            personalizadas, suas escolhas.</p>
    </li>
    <li class="content right-content">
        <h4>Notícias por palavra-chave</h4>
        <img src="img/icone-palavra-chave.png" class="img-fluid " alt="Imagem 1">

        <h5>Descubra as últimas notícias que realmente importam para você!</h5>
        <p>Com nossa abordagem inovadora de busca por
            palavra-chave, oferecemos uma experiência personalizada, mantendo-o informado sobre os temas que mais
            interessam. Não perca tempo filtrando informações irrelevantes; concentre-se no que é relevante para seu
            mundo. Potencialize sua estratégia de marketing com atualizações instantâneas e direcionadas, moldando sua
            narrativa de forma eficaz. Sua busca por notícias sob medida começa agora.</p>
    </li>
</ul>

<div class="ct-background">
    <h2>Benefícios</h2>
</div>

<div class="container features-container">
    {{!-- <img src="img/decorativo_categorias.png" alt="Imagem" />
    <!-- Substitua 'sua-imagem.jpg' pelo caminho da sua imagem --> --}}
    <div class="features d-flex flex-column w-100">
        <div class="features__item">
            <div class="features__item__image d-none d-md-flex">
                <img class="" src="/img/decorativo_categorias.png" alt="">
            </div>
            <div class="features__item__info">
                <h3 class="h1">Categorias</h3>
                <ul>
                    <li>
                        <i class="bi bi-check2-circle"></i>
                        <span>Categorizar notícias permite uma segmentação eficaz,
                            garantindo
                            informações
                            específicas de interesse.</span>
                    </li>
                    <li>
                        <i class="bi bi-check2-circle"></i>
                        <span>Busca por categorias personaliza fontes de notícias
                            com
                            base em temas
                            específicos.</span>
                    </li>
                    <li>
                        <i class="bi bi-check2-circle"></i>
                        <span>Categorias facilitam atualizações específicas,
                            mantendo
                            usuários
                            informados
                            em áreas de interesse.</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="features__item features__item--inverted">
            <div class="features__item__image d-none d-md-flex">
                <img class="" src="/img/decorativo_palavras_chave.png" alt="">
            </div>
            <div class="features__item__info">
                <h3 class="h1">Palavras Chave</h3>
                <ul>
                    <li>
                        <i class="bi bi-check2-circle"></i>
                        <span>Palavras chave garantem acesso rápido e preciso a notícias específicas.</span>
                    </li>
                    <li>
                        <i class="bi bi-check2-circle"></i>
                        <span>Os usuários podem direcionar suas preferências, recebendo apenas informações relacionadas
                            às suas palavras chave
                            escolhidas.</span>
                    </li>
                    <li>
                        <i class="bi bi-check2-circle"></i>
                        <span>A busca por palavra-chave oferece notícias em tempo real, mantendo os usuários sempre
                            atualizados.</span>
                    </li>
                    <li>
                        <i class="bi bi-check2-circle"></i>
                        <span>Empresas podem otimizar estratégias de marketing, segmentando audiências específicas
                            através de palavras chave.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr style="border: 2px solid var(--primary-color); opacity: 100%;">

<div class="footer-text">
    <span>
        Desperte sua curiosidade e esteja no centro da ação com nossa plataforma de notícias exclusiva. Informe-se com
        conteúdo relevante, análises profundas e notícias de última hora. Conecte-se ao mundo ao seu redor e fortaleça
        sua
        compreensão com informações precisas e impactantes, moldando um amanhã mais informado e consciente.</span>
</div>

<div class="social-icons">
    {{!-- TODO: Adicionar links para redes sociais --}}
    <a href="#"><i class="bi bi-facebook"></i></a>
    <a href="#"><i class="bi bi-youtube"></i></a>
    <a href="#"><i class="bi bi-twitter-x"></i></a>
    <a href="#"><i class="bi bi-whatsapp"></i></a>
</div>

<div class="git-links">
    {{!-- TODO: Adicionar links para github --}}
    <a href="https://github.com/Dujuniorrr">
        <i class="bi bi bi-github"></i>
        <span>Dujuniorrr</span>
    </a>
    <a href="https://github.com/JohnGdev">
        <i class="bi bi bi-github"></i>
        <span>JohnGdev</span>
    </a>
    <a href="https://github.com/Vanubia-02">
        <i class="bi bi bi-github"></i>
        <span>Vanubia-02</span>
    </a>
    <a href="https://github.com/Wallas-Dev">
        <i class="bi bi bi-github"></i>
        <span>Wallas-Dev</span>
    </a>
    <a href="https://github.com/luiis-fernandoo">
        <i class="bi bi bi-github"></i>
        <span>Luiis-fernandoo</span>
    </a>

    
</div>

<div class="footer-email"><a href="mailto:email.example@domain.com">HubNews.com</a></div>