<div class="container-fluid">
    <div class="content-container">
        <h1>FollowYOU</h1>
        <h3>Expanda seus seguidores,
        </h3>
        <h3>Estamos seguindo você.</h3>
        <button class="btn btn-seguidores">Ganhe Seguidores</button>

        <div class="background-image">
            <img src="/img/inicio.png" class="rounded" alt="Sua Imagem">
        </div>
    </div>
</div>
