
<div class="background-container"></div>

<div class="custom2-container-fluid">
  <div class="custom2-content-container">
    <h1>HUBNews</h1>
    <h3>Seu Centro de Notícias</h3>
    <a href="/" class="custom2-btn-link">
      <button class="custom2-btn-seguidores">Saiba agora</button>
    </a>
</div>


