<div class="custom2-container-fluid">
    <div class="custom2-content-container">
        <h1>FollowYOU</h1>
        <h3>Expanda seus seguidores,</h3>
        <h3>Estamos seguindo você.</h3>
        <button class="custom2-btn-seguidores">Ganhe Seguidores</button>

        <div class="background-image-container">
            <img src="/img/inicio.png" class="rounded" alt="Sua Imagem">
        </div>
    </div>
</div>
