<div class="background-container">
<div class="custom2-container-fluid">
  <div class="custom2-content-container ">
    <h1>HUBNews</h1>
    <h3> <small> Seu centro de Notícias</small></h3>
    <a href="/sobre" class="custom2-btn-link">
      <button class="custom2-btn-seguidores"> <strong>Saiba Mais</strong></button>
    </a>

</div>
</div>


