<div class="background"></div>
<div class="container">
    <div class="login-card">
        <div class="login-form">
            <div class="login-heading">Faça Login</div>
            <div class="register-link">Ainda não tem <a href="#">cadastro</a>?</div>
            <label for="cpf">CPF</label>
            <input type="text" placeholder="insira seu CPF" />
            <label for="senha">Senha</label>
            <input type="password" placeholder="Insira sua senha" />
            <div class="forgot-password">Esqueceu a <a href="#">senha</a>?</div>
            <div>
                <button class="btn btn-primary">Entrar</button>
            </div>
            
        </div>
        <div class="login-image"></div>
    </div>
</div>