@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutTop {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-10%);
        opacity: 0;
    }
}

.content-category {
    position: relative;
}

.table-content {
    transition: margin-right 0.5s ease-in-out;
    border-radius: 5px;
}

.table-content table {
    border: 3px solid var(--red-primary-system);
    
}

.btn-table {
    background-color: transparent;
    border: 2px solid var(--red-primary-system);
    padding: 5px 10px;
    border-radius: 8px;
    color: var(--red-primary-system);
    transition: all .2s;
}

.btn-table:hover {
    background-color: var(--red-primary-system);
    color: white;
}

.visible-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #00000061;
}

.card-details {
    max-width: 290px;
    min-width: 290px;
    position: absolute;
    background-color: var(--white-system);
    top: 0;
    right: 0;
    display: none;
    border: 1px solid rgb(219, 219, 219);
    max-height: 640px;
    overflow-y: auto;
    border: 3px solid var(--red-primary-system);
    border-radius: 5px;

}

.card-details::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
}

.card-details::-webkit-scrollbar-thumb {
    background-color: var(--red-primary-system);
    border-radius: 5px;
    padding: 0 2px;
}

.photo img{
    border: 3px solid var(--red-primary-system);
    width: 90px;
    border-radius: 100px;
}

.visible-card {
    margin-top: 40px;
    position: initial;
    max-height: 420px;
    animation: slideInTop 0.5s ease-in-out;
}

.hide-card {
    animation: slideOutTop 0.5s ease-in-out;
    display: none;
}

.visible {
    animation: slideInRight 0.5s ease-in-out;
}

.hide {
    animation: slideOutRight 0.5s ease-in-out;
    display: none;
}

.subtitle-card, .title-card{
    color: var(--red-primary-system);
}

.content-profile{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.keywords {
    padding: 5px;
    border: 2px solid var(--red-primary-system);
    border-radius: 10px;
}.key h6{
    margin-bottom: 0.2rem;
}

