@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.msg {
    position: absolute;
    top: 86px;
    right: 8px;
    padding: 13px;
    padding-right: 24px;
    border-radius: 10px;
    color: #C4170C;
    font-family: sans-serif;
    animation: slideInRight 0.5s ease-in-out;
}

.msg-hide {
    animation: slideOutRight 0.5s ease-in-out;
}

.msg-content {
    position: relative;
}

.msg-error {
    background-color: #FCBD33;
}

.msg-success {
    background-color: #FFFFFF;
    border: 2px solid #C4170C;
}

.close-msg{
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -18px;
    right: -24px;
    font-family: sans-serif;
}

.close-msg i {
    font-size: 22px;
}