<div id="news-backend" class="row fs-3">
    {{#each news}}
       <div class="col-12 my-3">
                {{date}}
                {{!-- 
            {{img}}
            {{url}} --}}
            {{title}}
       </div>
    {{/each}}
</div>