

<div id="sentiment-origin-template" class="mt-4" type="text/x-handlebars-template">
    <div class="row">
        {{#each ValueSentimentOrigin}}
        <div class="col-md-4">
            <div class="border border-gray rounded  p-2 mt-3">
                <p class="border border-gray rounded  bg-group-sentiment-news"> <strong> {{ capitalize @key }}</strong></p>
                <div class="col-12">
                    {{#each this }}
                        <p class="text-kay-name border border-gray rounded mt-3 mb-1"><strong>
                            {{ capitalize @key}}
                        </strong></p>
                      <div class=" form-control mb-2">
                        {{#each this}}
                         
                            <p>{{ sentimentTag @key }} <strong>{{this}} </strong> </p>
                          
                        {{/each}}
                         </div>
                       
                    {{/each}}
                    
                </div>
                
            </div>
        </div>
        {{/each}}
    </div>
</div>
