#bg-analytic {
    background-color: #fcfcfc;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 70px;
    z-index: -1; 
    padding: 20px; 
}

@media (max-width: 576px) {
    #type option {
        font-size: 12px; 
    }
}

.text-analytics {
    color: var(--bs-red);
}

.text-analytic-name{
    color:#c42737;
    font-size: 25px !important;
}

.text-type{
    color:#9f8d8d  !important;
    
}

.text-analytics-font{
    font-size: 39px !important;
}

.text-date{
    font-size: 15px !important;
}



.text-label{
    font-size: 23px;
}


.text-option{
    font-size: 18px;
}

.btn-submit-analitic {
    padding: 8px 52px;
}

.btn-group {
    padding: 8px 40px;
}

#border-form{
    border-radius: 20px !important;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
   
}


.new-card,
.card {
    background-color: #fff;
    box-shadow: 0 5px 8px rgba(137, 1, 1, 0.479);
    margin: 0; 
    width: 100%; /* Ocupa a largura total do grid */
    height: 150px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease; /* Adiciona transição de cor */
}


.card-principal{
    justify-content: center;
    align-items: center;
    background-color: var(--bs-red);
    box-shadow: 0 5px 8px rgba(137, 1, 1, 0.479);
    margin: 0; 
    width: 100%; /* Ocupa a largura total do grid */
    height: 150px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease; /* Adiciona transição de cor */
}

.card-principal:hover{
    background-color: #a5212f;
}

.button-add {
    display: flex;
    justify-content: center;
    align-items: center !important;
    border: none !important;
    border-radius: 50%;
    background-color: transparent !important;
}


.card.disabled {
    background-color: #ebdede; 
    cursor: not-allowed;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button-add {
    justify-content: center;
    align-items: center;
    background-color: var(--bs-red); 
    border: none !important;
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

.custom-icon{
    font-size: 25px; 
    top: -5px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: #c04f4f;
    color: #fff;
    font-size: 17px !important;
    text-align: center;
    border-radius: 6px;
    padding: 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.error-message {
    color: rgb(95, 0, 0);
    font-size: 14px;
    margin-top: 5px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

@media only screen and (max-width: 500px) {
    .tooltip-text {
        width: 225px;
    }
}



@media (max-width: 600px) {
    #cards-container {
        flex-direction: column; 
        align-items: center; /* Alinhe os cards ao centro verticalmente */
    }
}


@media (max-width: 576px) {
    .border-sm-0 {
        border: none !important;
    }
}

.bg-danger, .btn-danger {
    background-color:   #ec0e0e !important;
}

.btn-danger:hover, .btn-danger:focus, .btn:active{
    background-color: #C4170C !important;
}

.text-danger{
    color: #C4170C !important;
}